body {
  margin: 0;
  font-family: 'Space Mono', monospace, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: black;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: white;
  padding: 0 0.5rem;
}
h2 {
  padding: 0;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
p {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

.spacecraft {
  display: block;
  width: 100%;
  height: 150%;
}
.main-title {
  width: 100%;
  height: 20%;
  color: white;
}

@media screen and (min-width: 768px) {
  .spacecraft {
    display: block;
    width: 100%;
    height: 220%;
  }
}

.crew-part {
  width: 100%;
  text-align: center;
  margin: 0 auto 1rem;
}

.crew {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0 1rem;
}

.flip-card {
  background-color: transparent;
  width: 220px;
  height: 220px;
  perspective: 1000px;
}

/* position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img {
  width: 220px;
  height: 220px;
}
.hidden {
  display: none;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(105, 114, 104);
  color: white;
}
.flip-card-back h2 {
  padding: 0.4rem 0.2rem 0.1rem;
  font-size: 1.1rem;
}
.flip-card-back p {
  padding: 0.2rem;
}
@media screen and (min-width: 768px) {
  .flip-card-front,
  .flip-card-back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .crew {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
  }
  .flip-card {
    background-color: transparent;
    width: 190px;
    height: 190px;
    perspective: 1000px;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front img {
    width: 190px;
    height: 190px;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }
  .flip-card-back h2 {
    font-size: 1rem;
  }
  .flip-card-back p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 968px) {
  .crew-part {
    margin-bottom: 2rem;
  }
  .flip-card {
    background-color: transparent;
    width: 230px;
    height: 230px;
    perspective: 1000px;
  }

  .flip-card-front img {
    width: 230px;
    height: 230px;
  }
  .flip-card-back h2 {
    font-size: 1.2rem;
  }
  .flip-card-back p {
    font-size: 0.9rem;
  }
}

.cards-sticky {
  background: rgba(105, 114, 104);
  text-align: justify;
  height: 54%;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  border: 2px ridge rgba(245, 245, 245);
  box-shadow: 0px 0px 3px 2px rgba(245, 245, 245);
}
.cards-sticky h2 {
  padding: 0.5rem 0 0;
}

.stick {
  padding: 0 0.2rem;
}
.stick img {
  width: 240px;
  height: 135px;
  padding: 0.5rem;
}
.stick p {
  font-size: 0.7rem;
}
.loot {
  height: auto;
  text-align: start;
}
.loot p {
  padding: 0 0.2rem;
  margin: 0.2rem;
}
.icon {
  color: #2857b0;
  font-size: 1.3rem;
  width: 20px;
  margin-right: 1rem;
  top: 4px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 5%;
  width: 40%;
  height: 60%;
}
.cards h1 {
  color: #476db5;
}
#catkind {
  color: #a2141e;
}
/* see if I can include a paw icon later */
/* .icon2 {
  transform: scale(0.2);
  position: relative;
  right: 0;
  font-size: 10rem;
} */

@media screen and (min-width: 400px) {
  .cards-sticky {
    height: 49%;
    width: 90%;
  }
  .stick p {
    font-size: 0.9rem;
  }
  .text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cards-sticky {
    height: 17rem;
    text-align: center;
  }
  .cards-sticky h2 {
    padding-top: 0.7rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .stick {
    display: flex;
  }

  .text {
    width: 60%;
    height: auto;
  }
  .text p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 0.3rem;
  }
  .stick img {
    width: 280px;
    min-width: 280px;
    height: 175px;

    padding: 0.5rem;
  }
  .loot p {
    font-size: 1.1rem;
  }
}
